<!doctype html>
<html lang="en">
  <head>
  	<title>Cubex</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
							<div class="col-lg-8">
								<div class="contact-wrap">
									<h3 class="mb-4 text-center">Create Demon</h3>
									<div id="form-message-warning" class="mb-4 w-100 text-center"></div> 
				      		<div id="form-message-success" class="mb-4 w-100 text-center">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm" action="/dashboard">
										<div class="row">
											<!-- <div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="name" id="name" placeholder="Name of Demon">
												</div>
											</div> -->
											<div class="col-md-12"> 
												<div class="form-group">
													<input type="text" class="form-control" name="cubex1" id="email" placeholder="Cubex ID 1">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="cubex2" id="subject" placeholder="Cubex ID 2">
												</div>
											</div>
											
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Create" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

