<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <title>Cubex</title>
</head>
<body style="background-color: black;">

    <style>
        a{
            text-decoration: none;
        }

        a h3{
            color: black;
        }

        button{
            background-color: #bc9864;
            border: none;
            border-radius: 10px;
        }
    </style>
    <center>
        <br>
        <br>
        <br>
        <br>
        <h1 style="color: white;">Create another demon</h1>
        <br>
        <button class="btn btn-primary">

            <a href="/dashboard" ><h3>Create Another</h3></a>
        </button>
        
    </center>
    
</body>
</html>