<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!-- // Set express middleware for favicon and then enable link tag for favicon  -->

    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
  </head>
  <body>

    <div class="initial-container">

      <div class="container">

          <header>
              <h2 id="logo"><a href="#">Cubex</a></h2>
          </header>
          
          <nav class="main-nav">
              <ul class="nav-ul">
                  <li class="nav-item"><a href="#">home</a></li>
                  <li class="nav-item"><a href="/login">login</a></li>
                  <li class="nav-item"><a href="/signup">signup</a></li>
              </ul>
          </nav>
      </div>

      <section class="banner">
          <div class="contents">

              <h1>All in one place for controlling iot devices</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, cumque.</p>
              <a href="#">Features</a>
          </div>

      </section>
  </div>
  
  <section class="main-section">
      <div class="first">
          <img src="" alt="">
         
      </div>
  </section>


  </body>
</html>