*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');



:root{
    --primary: #2F8F9D;
    --secondary:#3BACB6;
    --light: #82DBD8;
    --milk: #B3E8E5;
    --neon: #CFFFDC;
}



/* Heading  */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--primary);
    color: white;
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;

}

.container #logo{
    margin-left: 10px;
    font-family: 'Signika Negative', sans-serif;
}

.container #logo a{
    text-decoration: none;
    color: white;

}

.container nav.main-nav{
    margin-right: 50px;
}

.container nav.main-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    
}

.container nav.main-nav ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
}


.container nav.main-nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.container nav.main-nav a:hover{
    color: var(--milk);
    border-bottom: 2px solid var(--secondary) ;
}



/* Banner  */

.banner{
    height: 400px;
    background-color: var(--primary);
    margin-top: 60px;
}

.contents{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 80px;

}

.contents *{
    margin-bottom: 20px;
    color: white;
}

.contents a{
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    text-decoration: none;
    
}


/* Main Section  */

/* 1. FIRST  */


.main-section{
    background-color: var(--neon);
    height: 500px;
}

.main-section .first{
    width: 80%;
    margin: auto;
    text-align: center;
    
}
